.DS_Store
.env
*.mp3
/.gradio
backend/__pycache__/
backend/routers/__pycache__/

backend/auth/__pycache__/jwt.cpython-313.pyc
backend/auth/__pycache__/model.cpython-313.pyc
backend/auth/__pycache__/utility.cpython-313.pyc
